<content-type name="/component/macro_categories" is-wcm-type="true">
	<label>macro_categories</label>
	<form>/component/macro_categories</form>
	<form-path>simple</form-path>
	<model-instance-path></model-instance-path>
	<file-extension></file-extension>
	<content-as-folder>true</content-as-folder>
	<previewable>false</previewable>
	<quickCreate>false</quickCreate>
	<quickCreatePath></quickCreatePath>
	<noThumbnail>true</noThumbnail>
	<image-thumbnail></image-thumbnail>
</content-type>
